<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- definimos aqui el objeto -->
	<!-- el scope singleton te devuleve siempre el mismo objeto(constante)
		el scope prototype te devuleve cada vez un objeto distinto -->
	<bean id="Lisa" class="ejemplo1.Persona" scope="singleton">
		<property name="nombre" value="Lisa Simpson"></property>
		<property name="edad" value="8"></property>
		<property name="peso" value="34.56"></property>
	</bean>
	
	<bean id="personaGenerica" class="ejemplo1.Persona" scope="prototype">
		<!-- podemos definir un atributo fijo -->
		<property name="edad" value="18"></property>
	</bean>
	
	<bean id="arrayPersonas" class="java.util.ArrayList" scope="singleton"></bean>
</beans>
